{% load static %}

<html>
    <head>
        <title></title>
        <style>
            .form-control {
                border-radius: 0.5em;
                padding: 0.5em;
                width: 67%;
            }

        </style>
    </head>
    <body>
     {% block content %}
        <div class="form-control">
            <h2>Edit Your Profile</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_div }}
                
                <button type="submit">Save Changes</button>
            </form>
        </div>
        {% endblock %}

    </body>
</html>