<!DOCTYPE html>
    <html>
        <head>
            <title>Posts</title>
        </head>

        <body>


           <div class="topic-filter-bar" style="margin-bottom: 20px; padding: 10px; background: #f5f5f5;">
            <strong>Filter by Topic:</strong>
    
                <a href="{% url 'index:post_list' %}" style="margin-right: 15px;">All Posts</a>

                {% for topic in all_topics %}
                    <a href="{% url 'index:post_list' %}?topic={{ topic.id }}" style="margin-right: 15px;">
                        {{ topic.topic }}
                    </a>
                {% endfor %}
            </div>

            <div class="Posts">
                {% for Post in posts %}
                    <div class="PostsUI">
                        <h4> {{ Post.post_date }}</h4>
                        <img src="{{ Post.user.user_profile.pfp.url }}" style="width: 40px; height: 40px;">
                        <a href="{% url 'index:thepost' Post.id %}">{{ Post.post }}</a>
                        <h3> Topic: {{ Post.topic }} </h3>
                        <h3> By: {{ Post.user }}</h2>
                        <p>{{ Post.description }}</p>
                        <!-- <p>{{ Post.</p> -->


                        {% if Post.image %}
                            <img src="{{ Post.image.url }}" alt="Post Image">
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </body>

    </html>