<!DOCTYPE html>
    <html>
        <head>
            <title>Posts</title>
        </head>

        <body>
            <div class="Posts">

                {% for Post in posts %}
                <div href="{%url 'index:home'}" class="PostsUI">

                    {{ Post.post }}
                    {{ Post.description }}

                    

                    {% if Post.image %}
                        <img src="{{ Post.image.url }}">
                    {% endif %}
                
                </div>
                {% endfor %}

            </div>
        </body>

    </html>